.update_course{
    background: #f3f3f3;
}
.update_course .content_box{
    padding: 10px 70px;
}
.update_course .content_box .title{
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}
.update_course .content_box .form_container .form_content{
    display: flex;
    justify-content: space-between;
}
.update_course .content_box .form_container .btn_style{
    text-align: center;
}