.categoried_courses {
    padding: 30px 5px;
    text-align: center;
    min-height: 700px;
  }
  .categoried_courses .title {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  .categoried_courses .body {
    font-size: 15px;
  }
  
  /* -------------------- */
  .categoried_courses nav {
    text-align: left;
    padding-left: 15px;
  }
  .categoried_courses ul {
    list-style: none;
    margin-bottom: 15px;
    border-bottom: solid 1px grey;
  }
  .categoried_courses li {
    display: inline;
  }
  .categoried_courses .nav_a {
    display: inline-block;
    padding: 6px 20px;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  .categoried_courses .nav_a.active {
    background: green;
    color: white;
    font-weight: 300;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
  /* ----------------------- */
  .categoried_courses a {
    text-decoration: none;
  }
  .categoried_courses a:hover {
    text-decoration: none;
  }
  .categoried_courses .course_item {
    margin: 10px 0;
    text-align: left;
    box-shadow: 0 0 2px 1px grey;
    height: 250px;
  }
  .categoried_courses .course_item .content_box {
    padding: 5px;
  }
  .categoried_courses .course_item img {
    width: 100%;
    min-height: 120px;
    max-height: 120px;
  }
  .categoried_courses .course_item .course_name {
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    text-transform: capitalize;
  }
  .categoried_courses .course_item .course_desc {
    height: 40px;
    overflow: hidden;
    font-size: 13px;
    color: grey;
  }
  .categoried_courses .course_item .course_star {
    font-size: 12px;
    color: orange;
  }
  /*  */
  .categoried_courses .course_item_box{
    position: relative;
  }
  
  .categoried_courses .course_item_box .icon_2{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 22px;
    color: green;
  }
  .categoried_courses .course_item_box .icon_2:hover{
    color: orange;
  }