footer {
  border-top: solid 1px grey;
  padding: 40px 0;
}
footer .content {
  width: 90%;
  margin: 0 auto;
}
footer .footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
footer .footer_content ul {
  list-style: none;
}
footer .footer_content ul span {
  font-size: 15px;
  color: #35a7bb;
  font-weight: 500;
}
footer .footer_content select{
    width: 150px;
    border: solid 1px grey;
    padding: 4px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
footer .footer_content select:focus{
    outline: none;
}
footer .footer_content_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .footer_content_2 img{
    width: 150px;
}
footer .footer_content_2 p{
    font-size: 15px;
}
footer .footer_content_2 i{
    margin-right: 4px;
}
footer .footer_content_2  span{
    font-weight: 500;
}